$primary: #00bdec;
$secondary: #ffeb35;
$tertiary: #9d28fd;
$black: #000;
$white: #fff;

@mixin generate-color($textColor, $bgColor) {
  @if $textColor {
    color: $textColor;
  }

  @if $bgColor {
    background-color: $bgColor;
  }
}

.is-primary {
  @include generate-color($textColor: $black, $bgColor: $primary);
}

.is-secondary {
  @include generate-color($textColor: $black, $bgColor: $secondary);
}

.is-tertiary {
  @include generate-color($textColor: $white, $bgColor: $tertiary);
}
